<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1440px"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
<main class="wp-block-group" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">

<!-- wp:pattern {"slug":"kompas/hero"} /-->

<!-- wp:pattern {"slug":"kompas/banner-placeholder"} /-->

<!-- wp:pattern {"slug":"kompas/category-grid"} /-->

<!-- wp:pattern {"slug":"kompas/video-dana"} /-->

<!-- wp:pattern {"slug":"kompas/banner-placeholder"} /-->

<!-- wp:pattern {"slug":"kompas/najnovije-najcitanije"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
